<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <preference for="Hiennv\Upload\Api\ImageRepositoryInterface" type="Hiennv\Upload\Model\ImageRepository" />
    <preference for="Hiennv\Upload\Api\Data\ImageInterface" type="Hiennv\Upload\Model\Images" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="images_listing_data_source" xsi:type="string">Hiennv\Upload\Model\ResourceModel\Images\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Hiennv\Upload\Model\ResourceModel\Images\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">images</argument>
            <argument name="eventPrefix" xsi:type="string">images_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">images_collection</argument>
            <argument name="resourceModel" xsi:type="string">Hiennv\Upload\Model\ResourceModel\Images</argument>
        </arguments>
    </type>

    <virtualType name="ImagesGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Hiennv\Upload\Model\ResourceModel\Images\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="ImageUploaderImageUploader" type="Hiennv\Upload\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Hiennv\Upload\Model\Uploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Hiennv\Upload\Model\Uploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Hiennv\Upload\Model\UploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">ImageUploaderImageUploader</item>
            </argument>
        </arguments>
    </type>

    <type name="Hiennv\Upload\Controller\Adminhtml\Images\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">ImageUploaderImageUploader</argument>
        </arguments>
    </type>
</config>